body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;

.header-logo {
  width: 50px;
  display: block;
}

.header {
  display: flex;
  justify-content: center;
}

.header-logo-image {
  max-height: 60px;
}

.cover {
  min-height: 550px;
  background-image: url("../images/cover-dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.cover-title {
  font-size: 30px;
  color: #ffffff;
}

.class {
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 20px;
  text-align: center;
  margin: 10px;
  border: #151e12 solid 1px;
}

.column-header {
  color: #151e12;
}


@media (min-width: 768px) {
  .column {
      flex: 1;
  }
}

@media (max-width: 767px) {
  .column {
      flex: 100%;
  }
}
}