.header-logo {
  width: 50px;
  display: block;
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-logo-image {
  max-height: 50px;
}

.cover {
  position: relative;
  min-height: 550px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
